# Mac Os X stuff
.DS_STORE

# Odoo git clone
odoo-11.0/

# Distribution / packaging
.Python
lib/

# Virtualen stuff
bin/
Scripts/
include/
share/
tcl/
pip-selfcheck.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/
